---
layout: default
title: Náhodné texty o náhodných tématech
---

<h1>{{page.title}}</h1>

<p>
  Moc tu toho není, co? Možná se to rozšíří. A možná taky ne. Třeba se tu něco
  ukáže když bude potřeba si sepsat poznámky po náhodných experimentech.
</p>

<hr />

<ul class="card-list">
  {% for item in site.articles reversed %}
  <li class="card {{item.layout}}">
    <a href="{{ item.url | relative_url }}">
      <div class="card-content">
        {% if item.layout == "db_article" %}
          <h2 class="no-anchor">{{ item.title }} <img src="{{ "assets/pg_icon.svg" | relative_url }}" alt="Icon" /></h2>
        {% else %}
          <h2 class="no-anchor">{{ item.title }}</h2>
        {% endif %}
        <p>{{ item.excerpt }}</p>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>
