<link rel="stylesheet" href="{{ "assets/css/floaty.css" | absolute_url }}">

{% if include.content == "ruby" %}
  {% assign fragment = "ruby_editor.html" %}
  {% assign icon = "assets/ruby_icon.svg" %}
  {% assign text = "Editor" %}
  {% assign class = "ruby" %}
{% elsif include.content == "pg" %}
  {% assign fragment = "pg_repl.html" %}
  {% assign icon = "assets/pg_icon.svg" %}
  {% assign text = "REPL" %}
  {% assign class = "pg" %}
{% endif %}

<div id="sticky-footer">
  <button class="{{ class }}" id="footer-toggle">
    <img src="{{ icon | relative_url }}" alt="Icon">
    &nbsp;
    <b>{{ text }}</b>
  </button>
  <div id="footer-content">
    {% include {{ fragment }} id="in_floater" insert_script=include.insert_script %}
  </div>
</div>

<script type="module">
  document.addEventListener("DOMContentLoaded", () => {
    const footer = document.getElementById("sticky-footer");
    const button = document.getElementById("footer-toggle");

    button.addEventListener("click", () => {
      footer.classList.toggle("active");
      button.classList.toggle("active");
      document.body.classList.toggle("floaty-active");
    });
  });
</script>
