<script
  src="https://cdn.jsdelivr.net/npm/@electric-sql/pglite-repl/dist-webcomponent/Repl.js"
  type="module"
></script>

<div style="height:{{include.height | default: "100%"}}">
  <pglite-repl id="{{ include.id | default: "pg-repl" }}"></pglite-repl>
</div>

<script type="module">
  import { PGlite } from "https://cdn.jsdelivr.net/npm/@electric-sql/pglite/dist/index.js";

  const pg = new PGlite();
  await pg.exec(`{{ include.insert_script | default: "" }}`);
  const repl = document.getElementById("{{ include.id | default: "pg-repl" }}");
  repl.pg = pg;
</script>
