---
layout: article
title: WASM Fun
---

<style>
  body {
    overflow-x: hidden;
  }
</style>
<p>
  Hrátky s WASM. Ruby, PostgreSQL. Aneb REPL rovnou v prohlížeči k vyzkoušení.
  Pozor. Těžké na JS. Chvilku se bude stahovat a kompilovat.
</p>

<h2>Ruby "Terminál" s XTerm.js</h2>

<p>
  Jednoduchý příklad s použitím
  <a href="https://github.com/xtermjs/xterm.js">xterm.js</a> a
  <a href="https://github.com/ruby/ruby.wasm/blob/main/docs/cheat_sheet.md"
    >Ruby WASM WASI</a
  >.
</p>
Žádné složitosti. Nic chytrého. A obecně prostě nic moc. Standard output je v
konzoli. {% include ruby_repl.html %}

<p>Tož.. stále to není IRB.</p>

<h2>Ruby "Editor" s CodeMirror</h2>

<p>
  A nebo můžeme zkusit editor, kde si v klidu něco napíšeme a až budeme hotovi,
  tak to spustíme. Používá se
  <a href="https://codemirror.net/5">CodeMirror v5</a> a opět
  <a href="https://github.com/ruby/ruby.wasm/blob/main/docs/cheat_sheet.md"
    >Ruby WASM WASI</a
  >.
</p>

{% include ruby_editor.html container_id="just-editor" height="400px" %}

<h2>PostgreSQL REPL s PGLite</h2>

<p>
  Řešení čistě od <a href="https://pglite.dev/">PGLite</a> a jejich
  <a href="https://pglite.dev/docs/repl">REPL</a>. Zajímavé je, že je dodáno
  jako "WebComponent" a interně se používá
  <a href="https://codemirror.net/">CodeMirror</a>.
</p>

{% include pg_repl.html %}

<h2>Floater</h2>

<p>
  Aby toho nebylo málo. V rohu by měla koukat "kartička". A v ní jedno z
  předchozích řešení, ale ve "vytahovacím" kontejneru.
</p>

{% include floater.html content="ruby_editor.html" %}
